<!DOCTYPE html>
<html>
<head>
	<title>sign in</title>
 	<link rel="stylesheet" href="{{url_for('static', filename='css/apply.css')}}">  
</head>
 
<body>S

<h1>Apply for a surgery</h1>
<h2>*Patient information:*</h2>
     <a href="{{url_for('LogOut')}}"> <button class="b4"   type="button"  >Log Out   </button> </a>

<form class="f1"  action="{{url_for('applyforsurgery')}}" method="POST">
	<div class="A">
   Name: <input  class="B" type="text" name="name" ><br>
  
  Patient ID: <input  class="C" type="number"  name="P_id" ><br>


Doctor ID: <input  class="D" type="number"  name="d_id" ><br>


 Age: <input  class="E" type="text"  name="age" ><br>


  Gender: <input  class="F" type="text"  name="gender" ><br>

  Visit Date: <input  class="G" type="Date"  name="visit_date" ><br>
  Surgery Date: <input  class="H" type="Date"  name="surgery_date" ><br>


 Surgery Time: <input  class="I" type="Time"  name="surgery_time" ><br>
 OR Room: <input  class="L" type="number"  name="OR_Room" ><br>

 Patient Scans : <input  class="K" type="text"  name="Scans" ><br>
 Urgency: <input  class="J" type="text"  name="urgency" ><br>

</div>

  <input class="Z" type="submit" value="Submit">
</form> 



</body>
</html>
