<!DOCTYPE html>
<html>
<head>
	<title>sign in</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width", initial-scale=1, shrink-to-fit="no">
	<link rel="stylesheet" type="text/css" href="/static/Sign_in.css">
</head>
 
<body>

<h1>Sign in</h1>
<br><br>
<form action="/action_page.php">
 <div class="A">
  User name: <input  class="B" type="text" name="username" >
</div>
  
  <div class="C">Password: <input  class="D" type="password"  name="password" >
  </div>
 
	<a href="doctors.html" ><button class="E"  type="button"  >Sign in </button> </a>
        
        
</form> 



</body>
</html>
